{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
<main class="d-flex flex-column">
    <h1 class="m-3 p-3 text-center">Tous mes projets</h1>

    <div class="container d-inline-flex p-3 col-lg-12 flex-wrap justify-content-center">
        {% for project in projects %}
            <div class="d-flex align-items-center card card-style m-3">
                <img class="card-img-top p-5" src="{{ project.image }}" alt="projet">
                <h2 class="card-title text-center m-3">{{ project.name }}</h2>
                <div class="text-center m-3">
                    <p>Lien Github : <a target="_blank" href="{{ project.githubLink }}"><img class="w-25" src="{{ asset('build/images/signe-github.png') }}"></a></p>
                </div>
                <div class="d-inline-flex justify-center text-center m-3">
                    <a class="btn btn-dark m-3" href="{{ path('project_show', {'id': project.id}) }}">Voir le projet</a>
                    {% if app.user %}
                        <a class="btn btn-dark m-3" href="{{ path('project_edit', {'id': project.id}) }}">Modifier le projet</a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h2>Pas de projets trouvés</h2>
        {% endfor %}
    </div>
</main>

{% endblock %}
